<div class="head-wrapper">
  <div class="head-left">
    <h1><%=link_to 'Todo LIST', root_path%></h1>
  </div>
  <div class="head-right-top">
    <ul class="head-top-list">
      <div class="top-list">
        <li><%= link_to 'ユーザー名' %>
      </div>
      <div class="top-list">
        <li><%= link_to 'ログアウト' %>
      </div>
    </ul>
    <ul class="head-bottom-list">
      <div class="bottom-list">
        <li><%= link_to 'Calendar'%></li>
      </div>
      <div class="bottom-list">
        <li><%= link_to 'Chat' %></li>
      </div>
      <div class="bottom-list">
        <li><%= link_to 'Account' %></li>
      </div>
      <div class="bottom-list">
        <li><%= link_to 'To do', root_path %></li>
      </div>
      <div class="bottom-list">
        <li><%= link_to 'Member'%></li>
      </div>
    </ul>
  </div>
</div>